@mixin set_size($width, $height: $width) {
  width: $width;
  height: $height;
}

* {
  margin: 0;
  font-family: Arial, monospace;
}

body {
  padding: 15px;
  display: flex;
}

.photo img,
.rank {
  border-radius: 50%;
}

.people {
  margin: auto;
  width: 100%;
  min-width: 430px;
  max-width: 890px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, 200px);
  .person {
    @include set_size(200px, 231px);
    margin: 15px 15px 25px 15px;
    .photo {
      position: relative;
      animation-name: hovered();
      img {
        color: #2f4f4f;
        text-align: center;
        @include set_size(200px);
      }
      .rank {
        $rank-size: 32px;
        @include set_size($rank-size);
        background: #fff;
        font-size: 16px;
        text-align: center;
        line-height: $rank-size;
        position: absolute;
        right: 10px;
        top: 84px;
      }
    }
    .details {
      font-size: 20px;
      text-align: center;
      color: #2f4f4f;
      .extra {
        visibility: hidden;
        font-size: 21.6px;
        line-height: 25px;
        text-align: center;
        color: #000000;
      }
    }
  }
  .person:hover {
    animation-name: unhovered;
  }
}
@mixin hovered($object,) {
  @keyframes hovered_#{$object} {
    from {
      img {
        border-radius: 60px;
        @include set_size(240px);
      }

      figcaption {
        font-size: 24px;
      }

      .person .extra {
        font-size: 21.6px;
        line-height: 25px;
        visibility: visible;
      }
    }
    to {

    }
  }
}

@keyframes unhovered {

}